<h1>Concert index</h1>
<h2>Currently saved concerts</h2>
<%= @concerts.count %>
<h2>Want to save a new concert?</h2>
<div class="btn btn-primary">
  <%= link_to 'New', new_concert_path, class: "btn" %> |
</div>

<h2>Check out the concerts that were saved</h2>
<ul>
  <% @concerts.sort_by(&:date).each do |concert| %>
    <li><%= link_to concert.name, concert_path(concert) %> <%= link_to fa_icon('trash'), concert_path(concert), method: :delete %></li>
  <% end %>
</ul>

<h2>Do you want to export a Google Play Music playlist?</h2>
<%= form_tag import_google_playlist_path(@file), html: { multipart: true } do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import Playlists' %>
<% end %>

<h2>First, log in with your spotify account</h2>
<%= link_to 'Log-in', 'auth/spotify' %>