<h1><%= @concert.name %></h1>

<ol>
  <% @concert.setlists.sort_by(&:index).each do |track| %>
    <li value="<%= track.index %>">
      <%= track.name %>
    </li>
  <% end %>
</ol>

<%= link_to 'Create a Spotify playlist', '/auth/spotify' %>

<%= link_to 'Open new playlist', @spotify_link if @spotify_link.present? %>

<%= link_to 'Back', root_path %>